.profile-container {

    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f6f6f6;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 150px auto;
}

.profile-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.address-sub-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.profile-item {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.profile-item label {
    font-weight: bold;
    min-width: 120px;
}

.profile-item span {
    flex: 1;
    padding: 8px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.profile-item:not(:last-child) {
    margin-bottom: 15px;
}