* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
 
}

.app-dashboard-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 40px 0 40px 40px;
  background-color: #eee;
  color: #eee;
  background-color: black;
}
