/* footer.css */
.footer {
    position: fixed;
    margin-top: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f6f6f6;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer p {
    margin: 0;
}

.footer-links a {
    color: #000;
    text-decoration: none;
    margin-left: 10px;
}