.product-image-container {
  width: 200px;
  height: 150px;
  margin-top: 15px;
} 

.inputs-container {
    width: 550px;
    margin-right: 50px;
}

.input-item-container {
    padding-top: 10px;
}

.add-product-input {
    background-color: #141414 !important;
    border: none !important;
    outline: none !important;
    color: #eee !important;
    box-shadow:  0px 0px 0px 1px #3a3a3a;
}

.create-product-button {
    margin-top: -40px;
    width: 100px;
    background-color: green !important;
}

.create-product-button:hover {
    background-color: #00b300 !important;
}

.category-placeholder {
    color: gray !important;
}

select {
    color: #999 !important;
}

.category-container {
    display: flex;
    width: 100%;
    padding: 10px;
    color: #eee !important;
    background-color: #141414 !important;
    border: none !important;
    outline: none !important;
    box-shadow:  0px 0px 0px 1px #3a3a3a;
}

#mySelect::placeholder {
    color: gray !important;
  }