/* ShopPage.css */

.shop-page {
    display: flex;
    justify-content: center;
}

.sidebar-container {
    flex: 0 0 250px;
    /* Sidebar width: 250px */
    margin-right: 20px;
    /* Add some space between the sidebar and cards */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    /* Ensure cards wrap to the next line if there's not enough space */
    justify-content: flex-start;
    /* Align cards from left to right */
}