/* ShopPage.css */

.shop-page {
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.sidebar-container {
    flex: 0 0 250px;
    margin-right: 20px;

}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.shop-page .sidebar {
    height: 100%;
}

.shop-page .card-container {
    margin-left: 250px;
}