.login-container {

    background-color: #f6f6f6;
    border-radius: 8px;
    padding: 30px;
    width: 500px;
    max-width: 800px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin: 150px auto;
}

.login-container h2 {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

.login-container .form-group {
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #444444;
}

.login-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.login-container input:focus {
    outline: none;
    border-color: #007bff;
}

.login-container button {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container button:hover {
    background-color: #0056b3;
}

.login-container button:focus {
    outline: none;
}

.login-container p {
    text-align: center;
    margin-top: 20px;
    color: #666666;
}

.login-container a {
    margin-top: 30px;
    color: #007bff;
    text-decoration: none;
}

.login-container a:hover {
    margin-top: 20px;
    text-decoration: underline;
}